@value _inputWidth: 100%;
@value _inputWidthMd: 120%;
@value _inputHeight: 40px;

.component {
  display: grid;
  grid-template-columns: minmax(100px, auto) minmax(100px, auto);
  grid-template-rows: 1fr 1fr 1fr min-content;
  grid-template-areas: "presets presets" ". ." ". ." ". ." "button button";
  grid-gap: 20px;
  align-content: start;

  @media (--viewport-md) {
    grid-template-columns: minmax(200px, auto);
    grid-template-rows: repeat(8, min-content);
    grid-template-areas: "presets" "." "." "." "." "." "." "." "button";
    grid-gap: 30px;
  }

  & > .inputGroup { width: 100%; }
  & > .presets { grid-area: presets; }
  & > .buttonGroup { grid-area: button; }
}

.componentInputNumberGroup {
  display: flex;
  flex-wrap: wrap;
  & > *:not(:last-child) { margin-bottom: 14px; }

  & > .numberLabel {
    width: 60%;
  }
  & > .numberInput {
    width: 40%;
    height: _inputHeight;
  }

  & > .range { width: 100%; }
}

.numberInput {
  border: 2px solid var(--color-plantation);
  background-color: var(--color-barley-white);
  padding: 6px;
}

.numberLabel { display: block; }

.componentCheckboxGroup {
  display: flex;
  align-items: center;
  & > .checkboxLabel { width: 100%; }
}

.checkboxInput {
  display: none;
  &:checked + .checkboxLabel::after { content: '✓'; }
}

.checkboxLabel {
  line-height: _inputHeight;
  position: relative;
  display: block;

  &::before,
  &::after {
    display: block;
    position: absolute;
    content: '';
    width: _inputHeight;
    height: _inputHeight;
    right: 0;
    bottom: 0;
  }

  &::after {
    font-size: 2em;
    line-height: _inputHeight;
    text-align: center;
  }

  &::before {
    border: 2px solid var(--color-plantation);
    background-color: var(--color-barley-white);
  }
}

.buttonGroup {
  display: flex;
  & > *:not(:last-child) { margin-right: 20px; }
  & > .submitButton { flex-grow: 1; }
  & > .copyToClipboard { width: _inputHeight; }
}

.componentCopyToClipboard,
.submitButton {
  display: block;
  height: _inputHeight !important;
  background-color: var(--color-plantation);
  cursor: pointer;
  position: relative;
  z-index: 0;

  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 3px solid var(--color-plantation);
    transform-origin: top left;
    transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
    transition-property: transform;
    transition-duration: 200ms;
    will-change: transform;
  }

  &:hover,
  &:focus {
    &::after {
      transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
      transform: translate(6px, 6px);
      transition-duration: 275ms;
    }
  }
}

.submitButton {
  color: var(--color-barley-white);
  padding: 0 6px;
}

.componentCopyToClipboard {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--color-barley-white);

  & > svg { width: 16px; }
}

/* from http://danielstern.ca/range.css/ */
.range {
  -webkit-appearance: none;
  cursor: pointer;

  &::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    background-color: var(--color-plantation);
  }

  &::-moz-range-track {
    width: 100%;
    height: 10px;
    background-color: var(--color-plantation);
    border-radius: 0;
  }

  &::-webkit-slider-thumb {
    border: 3px solid var(--color-plantation);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: var(--color-barley-white);
    -webkit-appearance: none;
    margin-top: -5px;
  }

  &::-moz-range-thumb {
    border: 3px solid var(--color-plantation);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: var(--color-barley-white);
  }

  &::-ms-thumb {
    border: 3px solid var(--color-plantation);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: var(--color-barley-white);
  }

  &::-ms-track {
    width: 100%;
    height: 10px;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }

  &::-ms-fill-upper {
    background: var(--color-plantation);
    border-radius: 0;
  }

  &::-ms-fill-lower {
    background: var(--color-plantation);
    border-radius: 0;
  }
}

.componentPresets {
  display: block;
  color: var(--color-plantation);
  line-height: 1.3;
  padding: 6px;
  border: 2px solid var(--color-plantation);
  height: _inputHeight !important;
  border-radius: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--color-barley-white);
  background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAzMiAzMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiBmaWxsPSIjMDA5Ij4KICA8cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xMy45IDIwTDkgMTUuMWwyLjEtMi4xIDQuOSA0LjkgNC45LTQuOSAyLjEgMi4xLTcuMSA3LjEtMi0yLjJ6Ii8+Cjwvc3ZnPg==');
  background-repeat: no-repeat, repeat;
  background-position: right 6px top 50%, 0 0;
  background-size: 1.6em auto, 100%;

  & > option { color: var(--color-plantation); }

  &::-ms-expand { display: none; }

  &:hover,
  &:focus { border-color: var(--color-plantation); }

  &:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(51, 104, 191, 0.7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: var(--color-plantation);
    outline: none;
  }
}
