.component { text-align: center; }

.heading {
  font-weight: 700;
  @media (--viewport-md) { font-size: 3rem; }
}

.link {
  color: var(--color-plantation);
  text-decoration: var(--color-plantation) wavy underline;
  text-decoration-skip-ink: none;
  position: relative;
  z-index: 0;
  font-weight: 700;
}
