*,
*::before,
*::after { box-sizing: inherit; }

html {
  box-sizing: border-box;
  overflow-y: scroll;
}

body {
  background-color: var(--color-goldenrod);
  color: var(--color-plantation);
  font-family: var(--font-family-base);
  font-size: var(--font-size-md);
  line-height: var(--line-height-base);
}
